*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: aliceblue;
    font-family: sans-serif;
}

.container {
    width: 360px;
    height: 100vh;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    padding: 2em 0;
}

.titulo span{
    color: #1ED760;
}

.titulo i{
    margin-right: 10px;
    font-size: 40px;
    color: #1ED760;
}

.capa{
    display: flex;
    justify-content: center;
}

.capa img { 
    height: 350px;
    width: 350px;
}

.musica__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nome-musica{
    padding-top: 20px;
    font-size: 30px;
}

.nome-artista{
    font-size: 15px;
    color: #cacaca;
}

.curtir i{
    font-size: 25px;
    color: #cacacab7;
}

.progresso-container{
    padding: 20px 0;
}

.barra-de-progresso{
    background-color: #cacaca48;
    height: 2px;
    cursor: pointer;
}
.progresso{
    --progresso: 0%;
    height: 2px;
    background-color: white;
    width: var(--progresso);
}

.tempo-container{
    display: flex;
    justify-content: space-between;
}

.tempo-atual, .tempo-total{
    color: #cacaca;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button:hover{
    transform: scale(1.05);
}

button.ativo i{
    color: #1ED760;
}

.navegacao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 15px;
}

.navegacao i {
    color: #ffffff;
}

#play, #pause{
    font-size: 50px;
}

#retornar, #avancar{
    font-size: 30px;
}

#embaralhar, #repetir, #repetir1{
    font-size: 25px;
}

.hide{
    display: none;
}

@media screen and (max-width: 500px){
    
    .container{
        width: 90%;
    }
}
